@inherits BaseComponent

<div class="@Classes" style="@Styles" @attributes="UserAttributes">
    @for (var i = 0; i < DriverIds.Count; i++)
    {
        var driverId = DriverIds[i];

        @if (i == (DriverIds.Count - 1))
        {
            <Driver DriverId="@driverId" />
        }
        else
        {
            <Driver Class="@ChildClass" DriverId="@driverId" />
        }
    }
</div>

