@inherits BaseComponent

<div class="@Classes" style="@Styles" @attributes="UserAttributes">
    @for(var i = 0; i < TeamIds.Count; i++)
    {
        var teamId = TeamIds[i];

        @if (i == (TeamIds.Count - 1))
        {
            <Team TeamId="@teamId" />
        }
        else
        {
            <Team Class="@ChildClass" TeamId="@teamId" />
        }
    }
</div>
