@using F1Predictions.Core.Enums;

@implements IRefreshable

<MudPaper Class="d-flex flex-column justify-center align-content-center align-center" Elevation="0">
    @if (Answer.RenderType == RenderType.Pie)
    {
        <PieChart Title="Answers" Data="@ChartData" @ref="AnswersChart" />
    }
    else if (Answer.RenderType == RenderType.Bar)
    {
        <BarChart Title="Answers" Data="@ChartData" @ref="AnswersChart" />
    }
    else if (Answer.RenderType == RenderType.Paired)
    {
        <StackedChart Title="Answers" Data="@StackedChartData" @ref="AnswersChart" />
    }
    else if (Answer.RenderType == RenderType.MultiBar)
    {
        <MultiBarChart Title="Answers" Data="@MultiBarChartData" @ref="AnswersChart" />
    }
    else if (Answer.RenderType == RenderType.Raw)
    {
        <div style="width:500px;height:395px;">
            <MudText Class="mb-3" Typo="Typo.h4" Align="MudBlazor.Align.Center">Answer</MudText>
            <MudText Class="mt-3" Typo="Typo.h1" Align="MudBlazor.Align.Center" Color="MudBlazor.Color.Tertiary">@Answer.RawAnswer</MudText>
        </div>
    }
    else if (Answer.RenderType == RenderType.Bool)
    {
        <div style="width:500px;height:395px;">
            <MudText Class="mb-3" Typo="Typo.h4" Align="MudBlazor.Align.Center">Answer</MudText>

            <div class="d-flex flex-row justify-center">
                @if (string.Equals(Answer.RawAnswer, "true", StringComparison.OrdinalIgnoreCase))
                {
                    <MudAvatar Color="MudBlazor.Color.Success" Variant="Variant.Filled" Size="Size.Large">
                        <MudIcon Color="MudBlazor.Color.Dark" Icon="@Icons.Filled.Check" Size="Size.Large" />
                    </MudAvatar>
                }
                else
                {
                    <MudAvatar Color="MudBlazor.Color.Error" Variant="Variant.Filled" Size="Size.Large">
                        <MudIcon Color="MudBlazor.Color.Dark" Icon="@Icons.Filled.Close" Size="Size.Large" />
                    </MudAvatar>
                }
            </div>
        </div>
    }
    else if (Answer.RenderType == RenderType.List)
    {
        <div style="width:500px;height:395px;">
            <MudText Class="mb-3" Typo="Typo.h4" Align="MudBlazor.Align.Center">Answers</MudText>
            @foreach (var item in ListData)
            {
                var colorProperty = $"color: {item.Color}";
                <MudText Typo="Typo.h5" Align="MudBlazor.Align.Center" Style="@colorProperty">@item.Name</MudText>
            }
        </div>
    }
    else if (Answer.RenderType == RenderType.OrderedList)
    {
        <div style="width:500px;height:395px;">
            <MudText Class="mb-3" Typo="Typo.h4" Align="MudBlazor.Align.Center">Answers</MudText>
            @for (var i = 0; i < ListData.Count; i++)
            {
                var item = ListData[i];
                var colorProperty = $"color: {item.Color}";
                var index = i + 1;
                <MudText Typo="Typo.h5" Align="MudBlazor.Align.Center" Style="@colorProperty">(@index) @item.Name</MudText>
            }
        </div>
    }
</MudPaper>
