@inherits BaseRclComponent

<div class="@Classes" style="@Styles" @attributes="UserAttributes">
    @foreach (var circuit in Circuits)
    {
        <TrackResponse Circuit="@circuit" Color="@Color" UseDarkText="@UseDarkText" />
    }
</div>