@inherits BaseTemplateComponent

<div class="@ContainerClasses">
    <DriverResponse Class="@DriverClasses" Driver="@QualiChoice" Year="@Year" />
    <TextResponse Class="@TextClasses" Content="Quali" Size="MudBlazor.Size.Small" Color="@Competitor.Color" UseDarkText="@Competitor.UseDarkText" />
</div>

<MudSpacer />

<div class="@ContainerClasses">
    <DriverResponse Class="@DriverClasses" Driver="@RaceChoice" Year="@Year" />
    <TextResponse Class="@TextClasses" Content="Race" Size="MudBlazor.Size.Small" Color="@Competitor.Color" UseDarkText="@Competitor.UseDarkText" />
</div>