@inherits BaseTemplateComponent

@foreach (var driverTrack in DriverTracks)
{
    <div class="@DriverTrackContainerClasses">
        <DriverResponse Class="@DriverClasses" Driver="@driverTrack.Driver" Year="@Year" />
        <TrackResponse Class="@TrackClasses" Circuit="@driverTrack.Circuit" Size="MudBlazor.Size.Small" Color="@Competitor.Color" UseDarkText="@Competitor.UseDarkText" />
    </div>
}