@inherits QuestionContent

<CompetitorResponses>
    <CompetitorTemplate Context="competitor">
        @{
            var responses = Responses.GetMultiResponseForComp(competitor.Id);
        }

        @foreach (var response in responses)
        {
            <div class="@GetDriverTrackContainerClasses(competitor.IsRightAligned)">
                <Driver Class="@GetDriverClasses(competitor.IsRightAligned)" DriverId="@response.Driver.Id" />
                <Track Class="@GetTrackClasses(competitor.IsRightAligned)" TrackId="@response.Track.Id" Size="Size.Small" Color="@competitor.Color" UseDarkText="@competitor.UseDarkText" />
            </div>
        }
    </CompetitorTemplate>
</CompetitorResponses>

<MudPaper Class="d-flex flex-column justify-center align-content-center align-center" Elevation="0">
    <BarChart Title="Responses" Data="@ResponseData" SelectionCallback="OnSelectedChartDataPoint" @ref="ResponsesChart" />
</MudPaper>
